div,h1,h2,h3,h4,h5,h6, ul, ol, li, p, textarea, button{
    margin: 0; padding: 0;
}
div, textarea, input, span, h1,h2,h3,h4,h5,h6, ul, li{
    font-family: '굴림', gulim, dotum, Verdana, sans-serif;
    color: black;
    font-size: 12px;
}
textarea{
    padding: 5px;
    resize: vertical;
    border: 1px solid #eee;
}
button{
    border:none;
}
.cursor{
    cursor: pointer;
}
.active-block{
    /*background: rgba(233, 255, 0, 0.21);*/
    background: rgba(16, 154, 163, 0.2);
}
ul, ol, li{list-style: none;}
a:link,
a:hover{
    text-decoration: none;
    color: #000;
}
::selection{background: transparent;color:red;
    font-weight: bold;}
::-moz-selection{background: transparent;color:red;
    font-weight: bold;}

.root{
    text-align: center;
}
.gutter{
    width: 1000px;
    margin: 0 auto;
    text-align: left;
}
.mast-head{
    width: 100%; height: 50px;
    background-color: #efefef;
    overflow: hidden;
}
.ass-lbl{
    display: none;}
h1{
    float: left;
    width: 113px; height: 50px;
    background: url("../images/logo.png")no-repeat left top;
    text-indent: -9999px;
    overflow: hidden;
}
h2{
    float: left;
    margin-left: 14px; margin-top: 14px;
    font-size: 20px; line-height: 1.0;
}
h2 span{
    font-size: 15px;
}
.mast-head .gutter{
    overflow: hidden;
}
.page-tab{
    float: right;
    margin-top:12px;
    border:1px solid #888888;
}
.page-tab a{
    float: left;
    display: inline-block;
    background: #fff;
    padding: 6px 16px;
    text-align: center;
    color: #000;
    height: 12px;
    line-height: 12px;
    vertical-align: middle;
}
.page-tab a:first-child{
    border-right: 1px solid #888;
}
.page-tab a:hover,
.page-tab a.active{
    background-color: rgba(16, 154, 163, 0.4);
}
.page-tab a.active{
    font-weight: bold;
}
.main-head{
    padding: 18px;
    margin-top: 10px;
    border: 1px solid #e9e9e9;
}
.main-title-row{
    overflow: hidden;
}
    .main-title-row h4{
        float: left;
        font-weight: bold;
    }
    .main-title-row .user-info{
        float: right;
    }
    .main-title-comment{
        clear: both;
        font-size: 12px;
        line-height: 1.5;
    }
    .main-title-comment:before{
        content: '';
        display: block;
        width: 100%; height: 1px;
        margin: 12px 0;
        background-color: #e9e9e9;
    }

.contents{
    margin-top: 10px;
    overflow: hidden;
    border:1px solid #e9e9e9;
    border-top:0 none;
}
    .contents-head{
        height: 40px;
        padding: 0 20px;
        background-color: #000;
        color: #fff;
        overflow: hidden;
    }
        .contents-head h4{
            float: left;
            color: #fff;
            line-height: 40px;
        }
        .contents-head span{
            float: right;
            color: #929292;
            line-height: 40px;
        }
    .contents-body{
        overflow: hidden;
    }
        .text-area{
            float: left;
            position: relative;
            width: 675px; height: 228px;
            overflow-y: auto;
            padding: 20px 40px 40px 24px;
            line-height: 60px;
        }
        .text-area br{
            content: '';
            display: block;
            margin: 0; line-height: 12px;
        }
            .text-area .mark-number:before,
            .text-area .mark-number:after{
                display: none;}
            .text-area .mark-number{
                position: absolute;left: -4px;top: 16px;
                line-height: 1.0;
                color: #df0000;
                font-size: 11px;
            }
            .highlight{
                position: relative;
                border: 1px solid #000;
            }
            .text-area .paragraph{
                display: block;
                position: absolute;
                right: 22px;
                top: 0;
                width: 10px; height:92px;
                border: 2px solid #df0000;
                border-left: none;
                cursor: pointer;
            }
            .text-area .paragraph .mark-number{
                left: auto;right: -20px;
                top: 50%;
                margin-top:-10px;
            }
            .linear{
                position: relative;
                background-color: #fffd71;
            }
            .removeletter{
                position: relative;
            }
            .removeletter > span:before,
            .removeletter > span:after{
                position: absolute;
                overflow: hidden;
                content: '';
                top: 5px;left: 0;
                width: 100%; height: 2px;
                background-color: #df0000;
            }
            .removeletter > .e:after{
                position: absolute;
                top: -4px;left: 100%;
                background: url("../images/ico_caret.png")no-repeat left -20px;
                width: 13px; height: 12px;
            }

            .stitch,
            .stitch > span{
                position: relative;
            }
            .stitch > span:before,
            .stitch > span:after{
                content: '';
                position: absolute;
                top: -8px;left: 0;
                height: 0; width: 100%;
                border-top: 2px solid #df0000;
                overflow: hidden;
            }
            .stitch > .f:before{
                height: 10px;
                width: 8px;
                border-top-right-radius: 0;
                border-top-left-radius: 7px;
            }
            .stitch > .f:after{
                display: none;}
            .stitch > .e:after{
                height: 10px; width: 6px;
                border-top-left-radius: 0;
                border-top-right-radius: 10px;
            }
            .stitch > .e:before{
                display: none;}
            .stitch.multi-line:before,
            .stitch.multi-line:after{
                width: 100%;left: 0;
            }
            .cancel,
            .cancel > span{
                position: relative;
            }
            .cancel > span:before{
                position: absolute;
                content: '';
                top: 5px;left: 0;
                height: 2px; width: 100%;
                background-color: #df0000;
            }
            .spacing{
                position: relative;
            }
            .spacing:before{
                content: '';
                position: absolute;
                overflow: hidden;
                background-image: url("../images/ico_caret.png") !important;
                background-repeat: no-repeat ;
                top: -6px ;left: -3px ;
                width: 9px ; height: 6px ;
                background-color: #fff ;
            }
            .spacing:after{
                display: none;}
            .spacing > .correction-msg.info{
                top: -20px; left: 0;
            }
            .spacing > .correction-msg.info:before{
                content: '┌';
            }
            .active-block.spacing .correction-msg{
                min-width: 40px;
                text-indent: 10px;
                margin-left: -0px;
                background: rgba(16, 154, 163, 0.2);
            }
            .period{
                position: relative;
            }
            .period:after{
                content: '';
                position: absolute;
                overflow: hidden;
                top: 12px ;bottom: 0;left: -4px;
                background: url("../images/ico_caret.png")no-repeat left -50px;

                width: 9px; height: 14px;
            }
            .comma{
                position: relative;
            }
            .comma:after{
                content: '';
                position: absolute;
                overflow: hidden;
                top: 12px;bottom: 0;left: -4px;
                background: url("../images/ico_caret.png")no-repeat left -70px;
                width: 9px; height: 15px;
            }
            .indent{
                position: relative;
            }
            .indent:before{
                content: '';
                position: absolute;
                overflow: hidden;
                top: -4px;left: -5px;
                background: url("../images/ico_caret.png")no-repeat left -90px;
                width: 5px; height: 19px;
            }
            .linebreak{
                position: relative;
            }
            .linebreak:after{
                content: '';
                position: absolute;
                overflow: hidden;
                left: 100%;top: -3px;
                background: url("../images/ico_caret.png")no-repeat right -110px;
                width: 20px; height: 17px;
            }
            .period, .comma, .indent, .linebreak, .removeletter, .stitch{
                cursor: pointer;
            }
        /* Comment */
        .comment-area{
            position: relative;
            float: right;
            width: 239px; height: 272px;
            padding: 8px 10px;
            overflow-y: auto;
        }
            .comment-area h5{
                font-weight: bold;
            }
            .comment-area li{
                margin-top: 10px;
                /*position: relative;*/
                background-color: #eee;
            }
            .comment-area .active{
                /*background: #FCFCC7;*/
                background: rgba(16, 154, 163, 0.4);
            }
            .comment-area .active .comment-index{
                font-weight: bold;}
            .comment-head{
                height: 25px;
                overflow: hidden;
            }
            .comment-head p{
                float: left;
                margin-left: 6px;
                color: red;
                line-height:25px;
            }
            .comment-area li button{
                float: right;
                align-self: flex-end;
                display: block;
                width: 50px; height: 25px;
                right: 0; top: 0;
                border: 0 none;
                background: url("../images/btn_remove.png")no-repeat left top;
                text-indent: -9999px;
                cursor: pointer;
            }
            .comment-area .comment-text {
                position: relative;
                padding: 8px 8px 8px;
                clear: both;
                line-height: 1.4;
                word-break: break-all;
            }
                .comment-text textarea,
                .comment-text .view{
                    width: 214px;
                    width: calc(100% - 10px);
                    width: -webkit-calc(100% - 10px);
                    margin: 0; padding: 5px 5px;
                    min-height: 20px;
                }
                .comment-text textarea{
                    display: none;
                    border: 0 none;
                    background-color: #fff;
                    min-height: 130px;
                }
                .comments .view{
                    display: block;
                }
                .comments .active textarea{
                    display: block;
                }
                .comments .active .view{
                    display: none;
                }

        /* Corrections */
        .text-area .correction-msg{
            position: absolute;
            left: 14px; top: 16px;
            min-width: 60px;
            height: auto;
            margin-left: 6px;
            line-height:1.2;
            white-space: nowrap;
            color: #df0000;
            user-select: none;
            /*-ms-word-break: break-all;*/
            /*word-break: break-all;*/
        }
        .text-area .correction-msg.up{
            top: -16px;
        }
        .text-area .correction-msg:before{
            content: '└';
            position: static;
            margin-left: -12px;
            color: #df0000;
            background: 0 none;
        }
        .text-area .correction-msg:after {
            display: none;
        }
        .text-area .correction-msg.up:before{
            content: '┌';
        }
        /* Controller */
        .controller{
            height: 184px;
        }
            .controller .gutter{
                overflow: hidden;
                background-color: #eee;
            }
            .controller .gutter-in{
                padding: 10px;
                overflow: hidden;
            }
            .controller .col{
                float: left;
                overflow: hidden;
            }

            /* Correction Area */
            .correction{
                width: 315px;
                /*height: 144px;*/
            }
                .correction-head{
                    overflow: hidden;
                    line-height: 25px;
                }
                .correction-head h6{
                    float: left;
                }
                .correction-head button{
                    float: right;
                    display: block;
                    width: 50px;height: 25px;
                    background: url("../images/btn_apply.png")no-repeat left top;
                    text-indent: -9999px;
                    border: 0;
                }
                .correction-body textarea{
                    width: 302px;
                    /*width: 100%;*/
                    height: 129px;
                    overflow-y: auto;
                }
                .btn-apply-correction,
                .btn-change-position{
                    cursor: pointer;
                }
                .correction-head .btn-change-position{
                    margin-right: 5px;
                    background: url("../images/btn_change_position.png") no-repeat left top;
                }

            /* Tab */
            .func-tab{
                margin-left: 10px;
            }
                .tab-tit{
                    height: 42px;
                }
                .tab-tit a{
                    float: left;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 80px; height: 42px;
                    border-left: 1px solid #eee;
                    background-color: #bbb; color: #fff;
                    text-align: center;
                }
                .tab-tit .active,
                .tab-tit a:hover{
                    background-color: #fff;
                    color: black;
                }
                .tab-contents{
                    clear: both;
                    width: 404px;
                    border-top:1px solid #ccc;
                    background-color: #fff;
                    overflow-y: auto;
                }
                .tab-content{
                    display: none;
                    width: 400px;height: 122px;
                    overflow-y: auto;
                    cursor: pointer;
                }
                .tab-content:first-child{
                    display: block;
                }
                .comment-tpl-tit{
                    margin-top: 10px;
                    margin-bottom:5px;
                }
                .comment-tpl{
                    margin-top: 2px;
                    text-decoration: underline;
                }
                .comment-tpl:hover{
                    /*color: rgba(16, 154, 163, 0.4);*/
                    text-decoration: none;
                }
                .comment-tpl .desc-text{
                    display: none;
                    text-decoration: none;
                }

            /* Mark Button Box */
            .btn-box{
                float: left;
                margin-left: 10px;
                width: 240px; height: 164px;
            }
                .paragraph-caret{
                    overflow: hidden;
                }
                .paragraph-caret button{
                    float: left;
                    display: block;
                    height: 30px; width: 93px;
                    background-color: #888;
                    line-height: 30px;
                    color: #fff;
                    margin-left: 5px;
                    opacity: 0.5;
                }
                .paragraph-caret button:first-child{
                    width: 142px;
                    margin-left: 0;
                }
                .marking-caret{
                    clear: both;
                    margin-top: 10px;
                    margin-left: -4px;
                    margin-bottom: -4px;
                    overflow: hidden;
                }
                .marking-caret button{
                    display: block;
                    float: left;
                    width: 45px; height: 40px;
                    margin-left: 3px;
                    margin-bottom: 4px;
                    background: url("../images/btn_caret.png")no-repeat left top;
                    overflow: hidden;
                    opacity: 0.5;
                }
                .marking-caret button:nth-child(2){ background-position-y: -40px; }
                .marking-caret button:nth-child(3){ background-position-y: -80px; }
                .marking-caret button:nth-child(4){ background-position-y: bottom; }
                .marking-caret button:nth-child(5){ background-position-y: bottom; }
                .marking-caret button:nth-child(6){ background-position-y: -120px; }
                .marking-caret button:nth-child(7){ background-position-y: -160px; }
                .marking-caret button:nth-child(8){ background-position-y: -200px; }
                .marking-caret button:nth-child(9){ background-position-y: -240px; }
                .marking-caret button:nth-child(10){ background-position-y: -280px;}

                .marking-caret .cursor,
                .paragraph-caret .cursor{
                    opacity: 1;
                }

            /* Save, Load Area */
            .net{
                clear: both;
            }
                .net button{
                    width: 116px;
                    height: 30px;
                    margin-top: 10px;
                    color: #fff; background-color: #888;
                    text-align: center;
                    cursor: pointer;
                }

.write .comment-area{
    display: none;
}
.write textarea.text-area{
    width: 675px;
    resize: vertical;
    /*line-height: 1.2;*/
}
.write .correction,
.view .correction,
.write .func-tab,
.view .func-tab{
    opacity: 0.4;
}
.write .controller,
.view .controller{
    position: relative;
}
.view .btn-remove-comment,
.view .btn-apply-correction{
    display: none;
}
.write .cover,
.view .cover{
    position: absolute; left: 0; top: 0;
    width: 100%;
    height: 184px;
    z-index:100;
}

.view .comments .active textarea{
    display: none;
}
.view .comments .active .view{
    display: block;
}

.scrollbar{
    position: absolute;
    right: 10px;
    width: 2px;
    height: 600px;
    background: #ccc;
    line-height: 0;
}
.handle{
    width: 100%;
    height: 100px;
    background: #292a33;
    cursor: pointer;
}
.mousearea{
    position: absolute;
    top: 0;
    left: -10px;
    width: 22px;
    height: 100%;
}